p {
  display: table;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  color: #110a06;
  margin-bottom: 3%;
  display: block;
  text-align: center;
}
.logo-icon {
  align-items: center;
  display: table;
  margin: 0 auto;
}