* {
    font-family: 'Pixelify Sans';
}

body{
    background: url("/static/img/dark_fantasy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color:  rgb(8, 16, 28);
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

h1, h2, th, td {
    color: #FFFF;
}

h3 {
    color: rgb(112, 123, 141);
}

.button{
    background-color:  rgb(8, 16, 28);
    color: rgb(255, 255, 255);
    border: none;
    height: 25px;
    width: 100px;
    font-weight: bold;
}

#content{
    margin: auto;
    width: 1000px;
    text-align: center;
    background-color: rgb(34, 42, 54);
    padding-bottom: 30px;
}

table{
    margin-left: center;
    margin-right: center;
    width: 50%;
}

#navbar
{
  position: relative;
}

audio {
    display: none;
}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul li
{
    float: left;
}

#navbar ul li a
{
    display: block;
    color: white;
    border-radius: 5px 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
